.container

  %h1 Liste des tâches

  #tasks
    #add_tasks_bar
      .row
        .col-6
          = text_field_tag :new_task, '', class: 'form-control', 'v-model' => :new_task
        .col-1
          = number_field_tag :duration, '', class: 'form-control', 'v-model' => :duration
        .col-1
          = button_tag :add_task, class: 'btn btn-primary', 'v-on:click' => 'add_task', id: 'add_task'

    #tasks_list
      %scheduled-task{ 'v-for' => 'task in tasks', 'v-bind:key' => 'task.id', 'v-bind:task_data' => 'task' }