.container

  %h1 Liste des tâches

  #add_tasks_bar
    .row
      .col-6
        = text_field_tag :new_task, '', class: 'form-control', 'v-model' => :new_task
      .col-1
        = number_field_tag :duration, '', class: 'form-control', 'v-model' => :duration
      .col-1
        = button_tag :add_task, class: 'btn btn-primary', 'v-on:click' => 'add_task'

  #tasks_list

  #task_model
    .row
      .col-6#task_libe
      -#.col-1#task_start
      -#.col-1#task_end
      -#.col-1#task_duration
      -#.col-1
      -#  = button_tag :remove_task, class: 'btn btn-primary'

  -#.row.mt-3
  -#  .col-6
  -#    = text_field_tag :new_task, '', class: 'form-control'
  -#  .col-1
  -#    = number_field_tag :duration, '', class: 'form-control'
  -#  .col-1
  -#    = button_tag :add_task, class: 'btn btn-primary'
